@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

@layer base {
    button {
        cursor: pointer;
    }
}

/* Custom selection */
::selection {
    background: rgba(139, 92, 246, 0.3);
    color: white;
}